<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <div class="navbar">
            <a href="/students/home">Home</a>
            <a href="/students/about">About</a>
            <a href="/students/service">Services</a>
            <a href="/students/join">Join Us</a>
            <a href="/students/contact">Contact Us</a>
        </div>
    </div>
    <h1>Service Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum quia, earum incidunt harum blanditiis, enim, placeat eaque quas vitae aut. Velit officia deserunt eligendi, est aut quos consequuntur voluptate!

    </p>
    <h2 >Student Data</h2>
    <table border="1px"  cellpadding="10px" cellspacing="0px" >
        <tr bgcolor="red">
            <th>Roll No</th>
            <th>Name</th>
            <th>City</th>
            <th>Fee</th>
            <th>Delete / Edit </th>
        </tr>
        <% Data.forEach((student) => { %>
            <tr >
                <td><%= student.rollNo %></td>
                <td><%= student.name %></td>
                <td><%= student.city %></td>
                <td><%= student.fee %></td>
                <td bgcolor="red"> <a href=" /students/edit?id=<%= student._id %>">Edit </a> / <a href="/students/delete?id=<%= student._id %>"> Delete</a></td>
                
            </tr>
        <% }); %>

    </table>

</body>

</html>